html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: 'Nunito', 'sans-serif';
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

main {
  margin: 1em;
  padding: 0;
}

.hero-banner {
  width: 100%;
  height: 90vh;
  background-color: #330099;
  background-image: url(https://images.freeimages.com/images/large-previews/f64/paper-1190616.jpg);
  background-repeat: none;
  background-size: cover;
  filter:opacity(80%);
}

nav:hover {
  background-image:linear-gradient(0deg, rgba(75,0,202,0) 2%, rgba(75,0,202,1) 100%);
}

nav {
  /* background-color: #330099; */
  padding-top: 2em;
  padding-bottom: 5em;
  background-image:linear-gradient(0deg, rgba(0,0,0,0) 2%, rgba(75,0,202,1) 150%);
}

nav ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: flex;
  justify-content: center;
  padding: 2em 0;
}

nav ul li {
  padding: 0 .5em;
}

nav ul li a {
  color: #330099;
  padding: 0.5em;
  margin: 1em;
  text-decoration: none;
  background-color: #F6F6E7;
  border-radius: 11px;
}

nav ul li a:hover {
background-color: white;
}

img {
  object-fit: contain;
  width: 351px;
  height: 261px;
  padding: 0;
  margin: 0;
}

.flex img {
  width: 227px;
  height: 150px;
  margin-right: 1em;
}

h2 {
  font-family: 'Kiwi Maru', 'serif';
  margin: 0;
}

p {
  margin: 0;
}

.width {
  max-width: 60%;
  min-width: 500px;
}

section {
  margin-left: 3em;
  margin-top: 3em;
}

.flex {
  display: flex;
  justify-content: center;
  padding: 2em 0;
  align-items: stretch;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}

footer {
  margin-left: 3em;
  margin-top: 3em;
  margin-bottom: 1em;
}
